div.main-div {
    padding: 20px;
}

div.main-div .errors {
    color: red;
    width: 100%;
}

div.main-div div {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
